In [6]:
# options(warn = -1)
options(repr.plot.width = 15, repr.plot.height = 9)
# 맥에서는 실행해야 한글이 보임
Sys.setlocale(category = 'LC_ALL',locale = 'ko_KR.UTF-8')

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

---
# 벡터 복습

In [2]:
# combine
v1 <- c(1, 3, 10)
v1
v1[1] + v1[3]

[1]  1  3 10

[1] 11

In [3]:
# :
v2 <- 1:10
v2

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
# seq
v3 <- seq(1,2,0.1)
v3

 [1] 1.0 1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.0

In [5]:
# rep
v4 <- rep(1:3, 2)
v4
rep(c("red", "blue"), 4)
rep(c("red", "blue"), each=4)

[1] 1 2 3 1 2 3

[1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

[1] "red"  "red"  "red"  "red"  "blue" "blue" "blue" "blue"

In [6]:
c(seq(1,5,2),1:10,seq(1,9,2),rep(1:3,2))

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [7]:
# iris의 1~6번째 줄(데이터, 샘플)의 데이터만 추출하여 변수 만들기
irisHead <-head(iris)
irisHead <- iris[1:6,]
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [8]:
# iris 전체 데이터 중 1, 51, 101번의 data만 출력하기 // Sepal.Length와 Species 만 출력
iris[c(1,51,101),5]
# iris[c(1,51,101),]$Species
# iris$Species[c(1,51,101)]

# iris[c(1,51,101),c(1,5)]
iris[c(1,51,101),c("Sepal.Length", "Species")]

[1] setosa     versicolor virginica
Levels: setosa versicolor virginica

    Sepal.Length Species
1   5.1          setosa
51  7.0          versicolor
101 6.3          virginica

In [9]:
# t(dataframe) 행과 열이 바뀜 transpose (바꾸다)
# t() 함수 이후에는 dataframe이 matrix타입으로 변경 
# matrix타입은 값의 데이터 타입이 한가지로 고정(String)
class(t(t(irisHead)))
t(irisHead)
irisHead

[1] "matrix" "array"

             1      2      3      4      5      6
Sepal.Length 5.1    4.9    4.7    4.6    5.0    5.4
Sepal.Width  3.5    3.0    3.2    3.1    3.6    3.9
Petal.Length 1.4    1.4    1.3    1.5    1.4    1.7
Petal.Width  0.2    0.2    0.2    0.2    0.2    0.4
Species      setosa setosa setosa setosa setosa setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [10]:
# iris중 Sepal.Length의 데이터만 추출하여 1차원 벡터 만들기
# class(iris[,"Sepal.Length"])
iris.num1 <- iris$Sepal.Length
iris.num1

# 갯수 구하기
length(iris.num1)

# 출력하기
print(iris.num1)

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

[1] 150

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

In [11]:
iris[seq(10,c(length(iris[,1])),10),]
# seq(10,150,10)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [12]:
# iris의 column수와 row수
length(iris)
nrow(iris)
ncol(iris)

[1] 5

[1] 150

[1] 5

In [13]:
# iris의 Sepal.Length의 최대값과 최소값의 차이가 평균보다 큰지 확인
# 정확한 정규 분포 확인 false는 정확한 정규분포는 아님
max(iris$Sepal.Length) - min(iris$Sepal.Length) > mean(iris$Sepal.Length)

[1] FALSE

In [14]:
# 기본 통계량 함수
num1 <- c(1,1,1,1,6)
sum(num1)
mean(num1)
median(num1)
max(num1)
min(num1)

[1] 10

[1] 2

[1] 1

[1] 6

[1] 1

In [15]:
# 기본 통계량
# 최소, 1st, 중앙(2st), 3st, 최대(4st)
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [16]:
summary(iris$Sepal.Length)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [17]:
# factor type인 Species에서 문자와 숫자를 각각 출력하기
as.character(iris$Species)
as.numeric(iris$Species)

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

In [18]:
# 벡터 계산
x <- c(3,6,9,12,15)
x + 1
x + c(1,2) # 사용 하면 안됨
x + 1:5

[1]  4  7 10 13 16

Warning message in x + c(1, 2):
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  4  8 10 14 16

[1]  4  8 12 16 20

In [22]:
x <- c(3,5,6,9,10)
y <- c(1,2,3)
z <- append(x,y)
z <- c(x,y)
z

[1]  3  5  6  9 10  1  2  3

In [30]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent구하기
length(unique(iris$Sepal.Length)) / length(iris$Sepal.Length)

[1] 0.2333333

### 문자열 관련 함수

In [33]:
xx <- c("a", "b", "c", "d", "e")
xx[1:2]
paste(xx[1],xx[2]) # 벡터와 벡터를 합쳐줌 */!중요!/*

[1] "a" "b"

[1] "a b"

In [38]:
a <- "Hello"
b <- "World!"
paste(a, b)

[1] "HelloWorld!"

In [46]:
# iris의 1, 51, 101번의 Species로 하나의 벡터로 출력하기
paste(iris$Species[c(1,51,101)])
paste(iris$Species[1], iris$Species[51], iris$Species[101])

[1] "setosa"     "versicolor" "virginica"

[1] "setosa versicolor virginica"

 [1] "1 10"  "2 10"  "3 10"  "4 10"  "5 10"  "6 10"  "7 10"  "8 10"  "9 10"
[10] "10 10" "11 10" "12 10" "13 10" "14 10" "15 10" "16 10" "17 10" "18 10"
[19] "19 10" "20 10" "21 10" "22 10" "23 10" "24 10" "25 10" "26 10" "27 10"
[28] "28 10" "29 10" "30 10" "31 10" "32 10" "33 10" "34 10" "35 10" "36 10"
[37] "37 10" "38 10" "39 10" "40 10" "41 10" "42 10" "43 10" "44 10" "45 10"
[46] "46 10" "47 10" "48 10" "49 10" "50 10"

In [52]:
# 문자열 꾸미기
# print("Hello", "World")
cat("Hello", "\t", "World!")
cat("Hello\t", "World!")

Hello 	 World!Hello	 World!

In [66]:
cat("국어\t", "영어\t", "수학\n", "90\t", "80\t", "70\n",
paste(seq(90, 70, -10), "\t"),'\n');

cat("국어\t", "영어\t", "수학\n", rep(c("90\t", "80\t", "70\n"), 2))

국어	 영어	 수학
 90	 80	 70
 90 	 80 	 70
국어	 영어	 수학
 90	 80	 70
 90	 80	 70

In [74]:
# paste의 연결 방법
paste("010", "1111", "2222", sep = "-")
paste(111, 222, sep = "")

[1] "010-1111-2222"

[1] "111222"

In [76]:
# 문자열 추출하기
str01 <- "abcdefghijklmn"
substring(str01, 2, 5)
str02 <- "가나다라마바사"
substring(str02, 2, 5)

[1] "bcde"

[1] "나다라마"

---
### 행렬(Matrix)
- 2차원 데이터를 저장하는 자료형    
- 데이터의 타입이 모두 일치 되어야 구성 (문자, 숫자) = 모두 문자, (숫자, 숫자) = 모두 숫자

In [77]:
# 벡터를 이용하여 행렬 만들기
vec1 <- c(1, 2, 3)
vec2 <- c(4, 5, 6)
vec3 <- c(7, 8, 9)

In [80]:
# row bind
mat1 <- rbind(vec1, vec2, vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [83]:
mat2 <- cbind(vec1, vec2, vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [105]:
# iris의 1~5번 데이터만 추출하기
# irisHead <- head(iris, 5)
irisHead <- iris[1:5,]
irisHead

# irisHead에 1, 1, 1, 1 setosa추가하기
irisHead <- rbind(irisHead, c(1, 1, 1, 1, "setosa")) # 추가하면 모든 데이터가 str로 바뀜 = 데이터가 망가짐
irisHead

# irisHead에 abc라는 컬럼과 2,2,2,2,2 추가하기
# abc <- c(2, 2, 2, 2, 2, 2)
# class(abc)
cbind(irisHead, abc = rep(2, 6))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3           1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 1            1           1            1           setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [115]:
# iris의 1~5번 데이터만 추출하기
irisHead <- iris[1:5,]

# Length라는 컬럼 추가하기 (Sepal,Length와 Petal.Length의 합)
# irisHead <- cbind(irisHead, Length = irisHead$Sepal.Length + irisHead$Petal.Length)
irisHead$Length = irisHead$Sepal.Length + irisHead$Petal.Length
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [117]:
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width

irisM <- cbind(sl, sw)
head(irisM)
irisD <- as.data.frame(irisM)
head(irisD)

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

  sl  sw
1 5.1 3.5
2 4.9 3.0
3 4.7 3.2
4 4.6 3.1
5 5.0 3.6
6 5.4 3.9

In [126]:
# mat1에 컬럼 이름 추가
mat1
rownames(mat1)
colnames(mat1) <- c("A", "B", "C")
mat1
# DataFrame으로 변환
mat1D <- as.data.frame(mat1)
mat1D
# matrix으로 변환
mat1M <- as.matrix(mat1D)
mat1M

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "vec1" "vec2" "vec3"

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [132]:
# mat2
rownames(mat2) <- 1:3
mat2
mat2D <- as.data.frame(mat2)
mat2D

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

In [141]:
mat1D
mat2D
colnames(mat2D) <- colnames(mat1D)
mat1D <- rbind(mat1D, mat2D)
rownames(mat1D) <- 1:nrow(mat1D)
mat1D

  A B C
1 1 2 3
2 4 5 6
3 7 8 9
4 1 4 7
5 2 5 8
6 3 6 9
7 1 4 7
8 2 5 8
9 3 6 9

  A B C
1 1 4 7
2 2 5 8
3 3 6 9

   A B C
1  1 2 3
2  4 5 6
3  7 8 9
4  1 4 7
5  2 5 8
6  3 6 9
7  1 4 7
8  2 5 8
9  3 6 9
10 1 4 7
11 2 5 8
12 3 6 9

---
## 데이터프레임
: 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [142]:
# 벡터로 데이터프레임 만들기
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 400, 300, 200)
qty <- c(5, 2, 7, 9)

In [144]:
fruit <- data.frame(번호 = no, 상품명 = name, 금액 = price, 재고량 = qty)
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [145]:
# 자료 구조 보기
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [146]:
# fruit에서 상품명과 재고량만 보기
fruit[,c('상품명', '재고량')]

  상품명 재고량
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [157]:
# fruit에서 번호를 제외한 모든 컬럼의 내용보기
fruit[,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  2
3 Peach  300  7
4 Berry  200  9

In [159]:
# fruit에서 2,4 번 행을 제외한 상품명, 금액, 재고량만 출력
fruit[-c(2, 4), -1]

  상품명 금액 재고량
1 Apple  500  5
3 Peach  300  7

[1] -2 -4

In [165]:
fruit$재고금액 <- fruit$`금액` * fruit$`재고량`
fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  2       800
3 3    Peach  300  7      2100
4 4    Berry  200  9      1800

In [166]:
fruit$원산지 <- c('한국', '태국', '한국', '중국')
fruit

  번호 상품명 금액 재고량 재고금액 원산지
1 1    Apple  500  5      2500     한국
2 2    Banana 400  2       800     태국
3 3    Peach  300  7      2100     한국
4 4    Berry  200  9      1800     중국

---
### 외부 File 불러오기

In [7]:
# Txt file 불러오기
txtEmp <- read.table("../Data/emp.txt", header = T, sep = "*")
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [11]:
# csv(Comma Seperated Value) 불러오기
csvEmp <- read.csv("../Data/emp2.csv", header = F)
csvEmp
colnames(csvEmp) <- c("사번", "이름", "급여")
csvEmp

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [13]:
ncol(csvEmp)
nrow(csvEmp)

[1] 3

[1] 5

In [14]:
# dataFrame 생성
df <- data.frame(
    x = 1:5,
    y = seq(2,10,2),
    z = c("a", "b", "c", "d", "e")
)

df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [19]:
# x컬럼의 합계와 y컬럼의 합계 구하기
sum(df$x)
sum(df$y)
sum(df$x, df$y)

[1] 15

[1] 30

[1] 45

### 함수를 부르는 함수

In [27]:
# 데이터 프레임에 함수 적용(열방향)
apply(df[,1:2], 2, sum)
apply(df[,1:2], 2, mean)
apply(df[,1:2], 2, sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [35]:
apply(df[,1:2], 2, sum)[1]

 x
15

In [37]:
# 데이터 프레임에 함수 적용 (행방향)
df$sum <- apply(df[, 1:2], 1, sum)
df

  x y  z sum
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

---
# 부분집합

In [40]:
subset(df,x>=3 & y >= 8)
nrow(subset(df,x>=3 & y >= 8))

  x y  z sum
4 4  8 d 12
5 5 10 e 15

[1] 2

---
### 두개 이상의 데이터프레임 병합하기

In [42]:
# Case 1 : Key값이 되는 컬럼이 동일하고 data의 갯수도 동일한 경우
height <- data.frame(
    id = 1:3,
    height = c(160, 170, 180)
)
height

  id height
1 1  160
2 2  170
3 3  180

In [44]:
weight <- data.frame(
    id = c(2, 1, 3),
    weight = c(70, 60, 180)
)
weight

  id weight
1 2   70
2 1   60
3 3  180

In [45]:
merge(height, weight)

  id height weight
1 1  160     60
2 2  170     70
3 3  180    180

In [48]:
# case 2 : key 값이 되는 컬럼이 동일하지 않고, 각각의 data 갯수도 다를 경우
height <- data.frame(
    id = 1:3,
    height = c(160, 170, 180)
)
height

  id height
1 1  160
2 2  170
3 3  180

In [53]:
weight <- data.frame(
    ad = c(2,1),
    weight = c(70,60)
)
weight

  ad weight
1 2  70
2 1  60

In [54]:
merge(height,weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [55]:
# key를 정의하기 : data가 적은쪽의 기준으로 merge
merge(x = height, y = weight, by.x = "id", by.y = "ad")

  id height weight
1 1  160    60
2 2  170    70

In [56]:
# key를 정의하기 : data가 많은 쪽의 기준으로 merge
merge(x = height, y = weight, by.x="id", by.y="ad", all.x=T)

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

### 행렬 함수로 행렬(matrix)만들기

In [59]:
matrix(1:10)
matrix(1:10, nrow = 2)
matrix(1:9, nrow = 3, ncol = 3)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### List
- 성격이 다른 자료구조로 생성이 가능
- key와 value로 구성된다.

In [60]:
member <- list(
    name = "홍길동",
    address = "서울",
    tel = "010-1111-2222",
    pay = 300
)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [61]:
member$name

[1] "홍길동"

In [63]:
member$birth <- "1988-08-08"
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

---
# 문자열 처리
: 수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업    

### stringr package사용
- str_length() : 문자열 길이
- str_c() : 문자열 연결
- str_sub() : 범위에 해당하는 문자열 생성
- str_split() : 구분자 기준으로 문자열을 분리하여 부분 생성
- str_replace() : 기준 문자열을 다른 문자열로 변경
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출
- str_extract_all() : 문자열에서 특정 문자열 패턴의 몬든 문자열을 추출
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출
- str_locate_all() : 문자열에서 특정 문자열 패턴의 모든 위치 추출

In [ ]:
# Package 설치
install.packages("stringr")

In [66]:
# 패키지 불러오기
library(stringr)

In [105]:
string <- "hongkildong105yoube1002kwanwoo25장비2005"
string2 <- "hongkildongkwanwoo25장비2005"

In [67]:
# a ~ z 까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "you" "kwa" "nwo"

In [72]:
# a ~ z 까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

In [75]:
# string에서 영문소문자만 추출하기
str_extract_all(string, "[a-z]{1,}")

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"

In [79]:
# string에서 영문소문자만 추출하기
class(str_extract_all(string, "[a-z]{1,}"))
# list 타입임

aaa <- str_extract_all(string, "[a-z]{1,}")
aaa
bbb <- unlist(aaa) # 리스트 해제
bbb

[1] "list"

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"

[1] "hongkildong" "yoube"       "kwanwoo"

In [85]:
# string에서 숫자만 추출하여 벡터(num)로 만들기
unlist(str_extract_all(string,"[0-9]{1,}"))
as.numeric(unlist(str_extract_all(string, "[0-9]{1,}")))
sum(as.numeric(unlist(str_extract_all(string, "[0-9]{1,}"))))
class(as.numeric(unlist(str_extract_all(string, "[0-9]{1,}"))))

[1] "105"  "1002" "25"   "2005"

[1]  105 1002   25 2005

[1] 3137

[1] "numeric"

In [94]:
# string에서 한글만 추출하기
str_extract_all(string, "[가-힣]{1,}")

[[1]]
[1] "장비"

In [95]:
# string에서 영문자만 제외하고 추출하기
str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"        "1002"       "25장비2005"

In [96]:
# string에서 숫자만 제외하고 추출하기
str_extract_all(string, "[^0-9]{1,}")

[[1]]
[1] "hongkildong" "yoube"       "kwanwoo"     "장비"

In [98]:
# 문자열 길이 구하기
str_length(string)

[1] 38

In [100]:
# 문자열 위치 구하기
str_locate(string, "장비")
str_locate_all(string, "n")

     start end
[1,] 33    34

[[1]]
     start end
[1,]     3   3
[2,]    10  10
[3,]    27  27

In [106]:
# 부분 문자열 추출
str_sub(string, 1, 32)
str_sub(string2, 1, str_locate(string2, "장비")[1] - 1)

[1] "hongkildong105yoube1002kwanwoo25"

[1] "hongkildongkwanwoo25"

In [108]:
# 대문자, 소문자 변경하기
str_to_upper(string)
str_to_lower(string)

[1] "HONGKILDONG105YOUBE1002KWANWOO25장비2005"

[1] "hongkildong105yoube1002kwanwoo25장비2005"

In [110]:
# 문자열 교체하기
string <- str_replace(string, "hongkildong105", "홍길동35,")
string <- str_replace(string, "yoube1002", "유비45,")
string <- str_replace(string, "kwanwoo25", "관우25,")
string <- str_replace(string, "2005", "20")
string

[1] "홍길동35,유비45,관우25,장비20"

In [111]:
# 문자열 분리하기
str_split(string, ",")

[[1]]
[1] "홍길동35" "유비45"   "관우25"   "장비20"