In [1]:
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

# 함수

In [2]:
test <- read.csv("../Data/test.csv")
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [3]:
str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [4]:
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [7]:
# A칼럼의, 최대값, 최소값, 빈도수
max(test$A)
min(test$A)
table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [18]:
# 각 컬럼의 빈도수 구하기
for(i in 1:ncol(test)){
    cat(colnames(test)[i], "칼럼의 빈도 분석 결과")
    print(table(test[,i]))
    cat("-------------\n")
}

A 칼럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
-------------
B 칼럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
-------------
C 칼럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
-------------
D 칼럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
-------------
E 칼럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
-------------

In [28]:
# 각 컬럼의 빈도수 구하기
for(i in 1:ncol(test)){
    cat(colnames(test)[i], "칼럼의 빈도 분석 결과\n")
    cat("최대값 :", max(table(test[,i])), ", 최소값 :", min(table(test[,i])), "\n")
    cat("-------------\n")
}

A 칼럼의 빈도 분석 결과
최대값 : 156 , 최소값 : 3
-------------
B 칼럼의 빈도 분석 결과
최대값 : 150 , 최소값 : 7
-------------
C 칼럼의 빈도 분석 결과
최대값 : 176 , 최소값 : 3
-------------
D 칼럼의 빈도 분석 결과
최대값 : 178 , 최소값 : 30
-------------
E 칼럼의 빈도 분석 결과
최대값 : 160 , 최소값 : 8
-------------

### 결측치(NA) 자료 평균 계산

In [29]:
data <- c(10, 20, 5, 4, 40, 7, NA, 6, 3, NA, 2, NA)

In [30]:
mean(data)

[1] NA

In [35]:
# NA의 갯수 구하기
sum(is.na(data))

table(is.na(data))
table(is.na(data))[2]

[1] 3

FALSE  TRUE
    9     3

TRUE
   3

In [38]:
# 결측치를 무조건 제거하면 통계량을 얻을 수 없으며, 데이터의 손실로 문제 발생
# 결츨치를 제거하고 평균 구하기
mean(data, na.rm = T)

[1] 10.77778

In [41]:
# 1) NA를 0으로 대체
data_0 <- ifelse(is.na(data), 0, data)
data_0
mean(data_0)

 [1] 10 20  5  4 40  7  0  6  3  0  2  0

[1] 8.083333

In [43]:
# 2) NA를 평균으로 대체
data_mean <- ifelse(is.na(data), mean(data, na.rm = T), data)
data_mean
mean(data_mean)

 [1] 10.00000 20.00000  5.00000  4.00000 40.00000  7.00000 10.77778  6.00000
 [9]  3.00000 10.77778  2.00000 10.77778

[1] 10.77778

In [48]:
# 3) NA를 중앙값으로 대체 ## 머신러닝이 아닐경우 중앙값 ## 머신러닝이면 추세를 알아서 대입
data_median <- ifelse(is.na(data), median(data, na.rm = T), data)
data_median
mean(data_median)

 [1] 10 20  5  4 40  7  6  6  3  6  2  6

[1] 9.583333

In [49]:
# 4) NA를 최대값으로 대체
data_max <- ifelse(is.na(data), max(data, na.rm = T), data)
data_max
mean(data_max)

 [1] 10 20  5  4 40  7 40  6  3 40  2 40

[1] 18.08333

In [50]:
# 5) NA를 최소값으로 대체
data_min <- ifelse(is.na(data), min(data, na.rm = T), data)
data_min
mean(data_min)

 [1] 10 20  5  4 40  7  2  6  3  2  2  2

[1] 8.583333