# KNN

In [1]:
head(iris)
# iris의 종을 맞추기

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

# 학습용 데이터와 검증용 데이터 분리

In [2]:
set.seed(1234)

table(iris$Species)

samp <- c(sample(1:50,35),sample(51:100,35),sample(101:150,35))
samp

    setosa versicolor  virginica
        50         50         50

  [1]  28  16  22  37  44   9   5  38  49   4  34  39  48  26   6  15  14  40
 [19]  30  24  32  41  29  21   8  20  31   3  50  46   2  35  47  42  12  53
 [37]  73  91  86  58  82  92  93  52  65  88  56  79  95  96  76  67  97  60
 [55]  98  72 100  59  66  90  80  87  99  75  63  85  69  68  89  62 120 141
 [73] 107 132 106 137 127 112 108 101 136 128 119 109 130 117 122 146 121 147
 [91] 113 135 102 133 126 139 131 116 111 104 103 124 110 144 129

In [3]:
# 학습용 셋
data.tr <- iris[samp,]

# 검증용 셋
data.test <- iris[-samp,]

In [4]:
summary(data.tr)
summary(data.test)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width         Species
 Min.   :4.300   Min.   :2.200   Min.   :1.100   Min.   :0.10   setosa    :35
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.30   versicolor:35
 Median :5.800   Median :3.000   Median :4.300   Median :1.30   virginica :35
 Mean   :5.847   Mean   :3.042   Mean   :3.749   Mean   :1.19
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.80
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.50

  Sepal.Length    Sepal.Width     Petal.Length   Petal.Width          Species
 Min.   :4.400   Min.   :2.000   Min.   :1.00   Min.   :0.100   setosa    :15
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.60   1st Qu.:0.300   versicolor:15
 Median :5.800   Median :3.100   Median :4.70   Median :1.400   virginica :15
 Mean   :5.836   Mean   :3.093   Mean   :3.78   Mean   :1.222
 3rd Qu.:6.500   3rd Qu.:3.400   3rd Qu.:5.10   3rd Qu.:1.900
 Max.   :7.700   Max.   :4.100   Max.   :6.70   Max.   :2.500

In [5]:
# Training Data준비
data.training <- subset(data.tr, select = -Species)
data.training.label <- data.tr$Species

In [6]:
# 문제 및 정답 만들기
x <- subset(data.test, select = -Species)
y <- data.test$Species

### 학습 시키기

In [7]:
install.packages("class")

In [8]:
# KNN 알고리즘 불러오기
library(class)

In [9]:
# k = 3에 대해서
iris_knn <- knn(train = data.training, test = x, cl = data.training.label, k = 3)

In [10]:
# 시험 점수 : 예측력
y == iris_knn
mean(y==iris_knn)

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE
[25]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[37]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

[1] 0.9555556

In [11]:
# 데이터가 정확히 일치했는지 확인
# 오분류표, 정오표, Confusion Matrix
table(y, iris_knn)

            iris_knn
y            setosa versicolor virginica
  setosa         15          0         0
  versicolor      0         13         2
  virginica       0          0        15

In [12]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [13]:
lst <- list(
    k = 0
)
lst[1]
lst[1] <- c(lst[1], 3)
lst[1]

$k
[1] 0

$k
[1] 0

In [16]:
k_num <- c()
score <- c()
for (k in seq(3, nrow(iris) / 2, 2)) {
    # k의 값을 얼마나 하는것이 좋은 것인가?
    iris_knn <- knn(train = data.training, test = x, cl = data.training.label, k = k)
    k_num <- append(k_num, k)
    score <- append(score,mean(y == iris_knn))
}

iris_knn_df <- data.frame(
    k_size = k_num,
    score = score
)

NULL

 [1]  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51
[26] 53 55 57 59 61 63 65 67 69 71 73 75

   k_size score
1   3     0.9555556
2   5     0.9555556
3   7     0.9333333
4   9     0.9333333
5  11     0.9333333
6  13     0.9333333
7  15     0.9555556
8  17     0.9555556
9  19     0.9555556
10 21     0.9555556
11 23     0.9555556
12 25     0.9555556
13 27     0.9555556
14 29     0.9555556
15 31     0.9777778
16 33     0.9777778
17 35     0.9111111
18 37     0.9111111
19 39     0.8888889
20 41     0.8888889
21 43     0.8888889
22 45     0.8666667
23 47     0.8666667
24 49     0.8666667
25 51     0.8666667
26 53     0.8444444
27 55     0.8666667
28 57     0.8666667
29 59     0.8888889
30 61     0.8444444
31 63     0.8666667
32 65     0.8666667
33 67     0.8444444
34 69     0.8444444
35 71     0.7111111
36 73     0.7333333
37 75     0.7111111

In [57]:
help(append)

append                  package:base                   R Documentation

_V_e_c_t_o_r _M_e_r_g_i_n_g

_D_e_s_c_r_i_p_t_i_o_n:

     Add elements to a vector.

_U_s_a_g_e:

     append(x, values, after = length(x))

_A_r_g_u_m_e_n_t_s:

       x: the vector the values are to be appended to.

  values: to be included in the modified vector.

   after: a subscript, after which the values are to be appended.

_V_a_l_u_e:

     A vector containing the values in 'x' with the elements of
     'values' appended after the specified element of 'x'.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_E_x_a_m_p_l_e_s:

     append(1:5, 0:1, after = 3)